@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
}

form {
  width: 600px;
  height: 450px;
  background-color: #47b5ff;
  margin: 50px auto 0;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

h2,
p {
  text-align: center;
}

.content {
  width: 400px;
  height: 300px;
  background-color: #dff6ff;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px;
}

input {
  width: 100%;
  height: 35px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  font-family: inherit;
  display: block;
  margin: 10px auto 0;
  width: 50%;
  background-color: #256d85;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #47b5ff;
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
